# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
vscode/*
.vscode
.vscode/*
.history/*

# project specific
node_modules
package-lock.json
coverage
dist

# env
.env

# chroma db logs
data/chroma/*.json
data/test-results/*